
.container {
  width: 1000px;
  margin: 0 auto;
}

.b-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.b-verbs-edit {}
.b-verbs-edit .form-group {
	display: block;
	margin-bottom: 15px;
}
.b-verbs-edit .form-group label {
	width: 140px;
}
.b-verbs-edit .form-group .form-control {
	width: 300px;
}
.b-home {
	width: 400px;
	margin: 50px auto;
}

.b-home h1 {
	text-align: center;
}

.b-home .form-control {
	text-align: center;
	margin-bottom: 10px;
}
.b-home .hint {
	color: #ececec;
	text-align: center;
	font-size: 13px;
}
.b-home .counter {
	padding-top: 15px;
}

.b-home .counter .line {
	margin-bottom: 15px;
}
.b-home .counter .line .value {
	font-weight: bold;
	padding-left: 5px;
}
.b-home .counter .line-error {
	color: #d43f3a;
}
.b-home .counter .line-success {
	color: #eea236;
}

.b-game-progress {
	border-radius: 0;
}

.b-home .btn-play-again {
	margin-bottom: 10px;
	display: none;
}

.b-auth {
	padding-top: 3px;
	float: right;
}

.b-auth-form {}
.b-auth-form .form-group {}
.b-auth-form .form-group .glyphicon {
	display: none;
}
.b-auth-form .form-group .help-block {
	display: none;
}

.b-auth-form .form-group.has-success .glyphicon-ok {
	display: block;
}

.b-auth-form .form-group.has-error .glyphicon-remove {
	display: block;
}
.b-auth-form .form-group.has-error .help-block {
	display: block;
}

.b-profile-container {

}

.b-profile-side {
	width: 250px;
	float: left;
}
.b-profile-side .profile-ava {
	margin-bottom: 20px;
}
.b-profile-side .profile-ava img {
	max-width: 100%;
}

.b-profile-main {
	margin-left: 280px;
	overflow: hidden;
}
.b-profile-main .nav-tabs {
	margin-bottom: 15px;
}

.b-home .take-hint {
	font-size: 14px;
	border-bottom: 1px dotted;
	white-space: nowrap;
	text-decoration: none !important;
}

.b-home .errors-list {
	font-size: 16px;
	font-weight: bold;
}

.b-home .errors-list .translation-text {
	display: inline-block;
}

.b-home .errors-list .answer-text {
	display: inline-block;
	color: #eea236;
	margin-right: 5px;
}

.b-home .errors-list .user-text {
	display: inline-block;
	color: #d43f3a;
	text-decoration: line-through;
}

.b-alerts-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	padding-top: 10px;
}

.b-alerts-container .alert {
	transform: translate3d(0, -100%, 0);
	transition: transform 0.3s ease;
}

.b-alerts-container .alert.in {
	transform: translate3d(0, 0, 0);
}

.b-alerts-container .alert.move-down {
	transform: translate3d(0, 100%, 0);
}

.b-users-table .name-title {
	padding-left: 88px;
}
.b-users-table td {
	vertical-align: middle !important;
}
.b-users-table td img {
	margin-right: 10px;
}

.test-counter,
.b-before-start-timer {
	text-align: center;
	font-size: 24px;
	color: #eea236;
	line-height: 46px;
}

.b-test-block {
	display: none;
	width: 440px;
	padding: 20px;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #eee;
	margin: 0 auto;
}

.b-test-block .correct-counter {
	text-align: center;
	margin-bottom: 5px;
}
.b-test-block .correct-counter .correct-item {
	display: inline-block;
}
.b-test-block .correct-counter .correct-item .glyphicon {
	vertical-align: top;
	color: #eea236;
}

.b-test-block .correct-counter .correct-item .glyphicon-empty {
	display: inline-block;
	width: 14px;
	height: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	background-color: #eaeaea;
}
.b-test-block .error-container {
	font-size: 24px;
	height: 24px;
	opacity: 0;
	text-align: center;
	color: #d43f3a;
}
.b-test-block input {
	text-align: center;
	margin-bottom: 10px;
}

.b-test-block .hint {
	color: #ececec;
	text-align: center;
	font-size: 13px;
}

.b-start-container .hint {
	margin-top: 15px;
	font-size: 12px;
	color: #ececec;
}

.b-rating-list {
	width: 500px;
	margin: 0 auto;
	padding-top: 30px;
}

.b-rating-list .user-item {
	margin-bottom: 20px;
}

.b-rating-list .user-item:first-child {
	margin-left: -20px;
	margin-right: -20px;
}
.b-rating-list .user-item:first-child .score {
	line-height: 65px;
	font-size: 24px;
}

.b-rating-list .user-item .score {
	float: right;
	line-height: 45px;
	font-size: 18px;
	font-weight: bold;
}

.b-rating-list .user-item .username {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
}

.b-rating-list .user-item img {
	-webkit-border-radius: 65px;
	-moz-border-radius: 65px;
	border-radius: 65px;
	margin-right: 15px;
	width: 45px;
}

.b-rating-list .user-item:first-child img {
	width: 65px;
}
