
.container {
  width: 1000px;
  margin: 0 auto;
}

.b-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.b-verbs-edit {}
.b-verbs-edit .form-group {
	display: block;
	margin-bottom: 15px;
}
.b-verbs-edit .form-group label {
	width: 140px;
}
.b-verbs-edit .form-group .form-control {
	width: 300px;
}
.b-home {
	width: 400px;
	margin: 50px auto;
}

.b-home h1 {
	text-align: center;
}

.b-home .form-control {
	text-align: center;
	margin-bottom: 10px;
}
.b-home .hint {
	color: #ececec;
	text-align: center;
	font-size: 13px;
}
.b-home .counter {
	padding-top: 15px;
}

.b-home .counter .line {
	margin-bottom: 15px;
}
.b-home .counter .line .value {
	font-weight: bold;
	padding-left: 5px;
}
.b-home .counter .line-error {
	color: #d43f3a;
}
.b-home .counter .line-success {
	color: #eea236;
}

.b-game-progress {
	border-radius: 0;
}

.b-home .btn-play-again {
	margin-bottom: 10px;
	display: none;
}

.b-auth {
	padding-top: 3px;
	float: right;
}