
.container {
  width: 1000px;
  margin: 0 auto;
}

.nav-pills {
  padding: 20px 0;
}

.b-verbs-edit {}
.b-verbs-edit .form-group {
	display: block;
	margin-bottom: 15px;
}
.b-verbs-edit .form-group label {
	width: 140px;
}
.b-verbs-edit .form-group .form-control {
	width: 300px;
}